<h1><%= @trip.title %></h1>
<h3> Duration: <%= @trip.days_duration %> days</h3>
<br>
<h2></h2>

<h3> Trip Itineraries: </h3>
<p> <% @trip.itineraries.each do |i| %>
   <%= link_to i.day, trip_itinerary_path(i.trip, i) %>
                  
   </p>
   <% end %>