<h3><%=link_to @comment.attraction.name, attraction_path(@attraction) %></h3><br>
<h2></h2>

<p><i> <%= @comment.body %></i></p>
<p> - Posted By <%= @comment.user.full_name %> 
<% if @comment.user == current_user %>
<p> <%= render partial: '/shared/edit_delete_links', locals: {obj1: @attraction, obj2: @comment} %></h5>
<% end %>