<h1><%=@user.full_name%></h1>



<h3> Your Wishlist </h3>
<h3> Your Trips </h3>
<%=link_to "Create a New Trip", new_trip_path %>
<h3> Your Itineraries </h3>
<%=link_to "Create a New Itinerary", new_itinerary_path %>
<h3> Your Comments </h3>

