<h1><%=@user.full_name%></h1>
<br>
<h2></h2>



<h4> Your Trips </h4><br>
<h2></h2><br>
<p> <% @user.trips.each do |t| %>
    <%= link_to t.title, trip_path(t) %><br><br>
    <% end %>
    <h2></h2><br>

<h4> Your Comments </h4><br>
<h2></h2><br>
<% @user.comments.each do |c| %>
    <p><%= link_to c.attraction.name, attraction_path(c.attraction) %></p>
    <p><i>- <%= c.body %></i></p><h2></h2><br>
    <% end %>
