<h1><%=@user.first_name%> <%= @user.last_name%></h1>

<%= link_to "Log Out", logout_path, method: 'delete' %>

<h3> Your Wishlist </h3>
<h3> Your Trips </h3>
<h3> Your Itineraries </h3>
<h3> Your Comments </h3>
