<h1> Destinations </h1>
<br>
<h2></h2>

<% @destinations.each do |d| %>
    <h3><%=link_to "#{d.city}, #{d.country}", destination_path(d) %></h3>
    <p>Continent: <%= d.continent %></pr><br>
    <p>Primary Language: <%= d.primary_language %></p>
    <% end %>