<h1> Attractions </h1>
<br>
<%= link_to "Create New Attraction", new_attraction_path %><br><br>
<h2></h2>

<% @attractions.each do |a| %>
  
    <h3><%= link_to a.name, attraction_path(a) %> - <%= link_to a.location, destination_path(a.destination) %></h3><br>
     
     <% end %>