<h1> Attractions </h1>
<h4><%= link_to "Create New Attraction", new_attraction_path %></h4><br><br>
<h2></h2>

<% @attractions.each do |a| %>
    
  
    <h3><%= link_to a.name, attraction_path(a) %> - <%= link_to a.location, destination_path(a.destination) %></h3><br>
     
     <% end %>